body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
#header-index {
    display: flex;
    flex-direction: column;
    background-color: #1775cc;
    justify-content: start;
}

#header{
    background-color: #1775CC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#menu ul {
    padding:0px;
    margin:0px;
    background-color:#1775CC;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#1775CC;
    color: #FFF;
    text-decoration: none;
    border-bottom:3px solid #1775CC;
    font-family: 'Roboto';
    
}

#menu ul li a:hover {
    background-color:#1784cc;
    color: #FFF;
    border-bottom:3px solid #17b1cc;
}

.img-index {
    height: 15rem;
    width: 10rem;
}

.img-header{
    height: 9rem;
    width: 5rem;
    justify-self: start;
}
#task-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E5E5E5;
}

#footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E5E5E5;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.name{
    justify-self: center;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: bold;
}