
body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.top-nav-bar {
  position: flex;
  width: 100%;
  height: 90px;
  left: 0px;
  top: 0px;

  background: rgba(22, 22, 22, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  margin-top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.container {
  margin-top: 5%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  
}
input[type=text], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px; 
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 5px; 
  resize: vertical 
}

input[type=submit] {
  background-color: rgba(22, 22, 22, 0.9);;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #E54161;
}

.container-body-all {
  height: 40vh;
  max-height: 800px;
  width: 100%;
  text-align: center;
  display: inline-block;
}

.logo-line {
  position: absolute;
  width: 175px;
  height: 0px;
  left: 15%;
  top: 0px;
  opacity: 40%;

  background: #E5E5E5;
  border: 0.4px solid #A1A1A1;
  transform: rotate(90deg);
}


.logo-nav-bar a {
  position: absolute;
  width: 20%;
  height: 90px;
  left: 8.1%;
  top: 0px;

  font-family: Cookie;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.25s;

  color: #FFFFFF;

}


.top-nav-plans {

  position: absolute;
  width: 8.4%;
  height: 90px;
  left: 24%;
  top: 0px;
  align-items: center;
}

.top-nav-plans a {
  width: auto;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  text-align: center;
  transition: 0.25s;

  color: #FFFFFF;
}

.top-nav-plans a:hover,
.top-nav-about a:hover,
.top-nav-contact a:hover,
.top-nav-login a:hover,
.logo-nav-bar a:hover {
  color: #E54561;
}

.top-nav-about {
  position: absolute;
  width: 8.4%;
  height: 90px;
  left: 29%;
  top: 0px;
  align-items: center;


}

.top-nav-about a {
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  text-align: center;
  transition: 0.25s;

  color: #FFFFFF;
}



a {
  color: #FFFFFF;
}

.top-nav-contact {

  position: absolute;
  width: 8.4%;
  height: 90px;
  left: 33.5%;
  top: 0px;
  align-items: center;


  color: #FFFFFF;
}

.top-nav-contact a {
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  text-align: center;
  transition: 0.25s;

  color: #FFFFFF;
}

.top-nav-login {
  position: absolute;
  width: 6.4%;
  height: 90px;
  left: 74%;
  top: 0px;
  align-items: center;

}

.top-nav-login a {
  width: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  text-align: center;
  transition: 0.25s;

  color: #FFFFFF;
}

.sign-background {

  position: absolute;
  width: 6.4%;
  height: 51.43px;
  left: 83%;
  top: 18.79px;

  background: #E54561;
  border-radius: 3.2px;
  text-align: center;


}

.sign-background .top-nav-sign {
  width: auto;
  height: auto;
  left: 81.7%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 12%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;


  color: #FFFFFF;
}

.sign-background .top-nav-sign a {
  width: auto;
  height: auto;
  left: 81.7%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;


  color: #FFFFFF;
}

.sign-background:hover {
    font-weight: 800;
    background-color: rgb(226, 88, 111); 
    cursor: pointer;
}

.image-home {
  width: 100%;
  height: auto;

}

.img-background {
  width: 100%;
}

.center-box-blured {
  
position: absolute;
width: 38%;
height: 42.5%;
left: 31%;
top: 31%;
text-align: center;

background: rgba(107, 107, 107, 0.15);
box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
backdrop-filter: blur(17px);

/* Note: backdrop-filter has minimal browser support */

border-radius: 15px;
}

.left-box-blured {
position: absolute;
width: 34%;
height: 38%;
left: 8%;
top: 31%;
text-align: center;

background: rgba(107, 107, 107, 0.15);
box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
backdrop-filter: blur(17px);

/* Note: backdrop-filter has minimal browser support */

border-radius: 15px;
}

.right-box-blured {
  position: absolute;
  width: 34%;
  height: 38%;
  left: 58%;
  top: 31%;
  text-align: center;
  
  background: rgba(107, 107, 107, 0.15);
  box-shadow: 0px 4px 4px rgba(122, 119, 255, 0.05);
  backdrop-filter: blur(17px);
  
  /* Note: backdrop-filter has minimal browser support */
  
  border-radius: 15px;
  
}

.box-join-button{
  position: absolute;
  align-self: center;
  width: 298.59px;
  height: 83.32px;
  left: 30%;
  top: 70%;

  background: #E54561;
  border-radius: 3.2px;
  transition: 0.1s;
}

.box-join-button .text-button{

  left: 81.7%;
  margin-top: 10%;

  color: #FFFFFF;
  
}

.box-join-button .text-button a{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;
  transition: 0.1s;

}

.box-join-button .text-button a:hover{

  font-weight: 800;
  color: #FFFFFF;

}
.box-join-button:hover{

  font-weight: 800;
  background-color: rgb(226, 88, 111); 
  cursor: pointer;

}
.box-title{
  margin-top: 5%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 22px;
  font-weight: 600;
  text-align: center;

  color: #E54161;
}

.box-message{
  margin-top: 12%;
  margin-left: 10%;
  width: 80%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  text-align: center;

  color: #FFF;
}
.box-message-contact{
  margin-top: 12%;
  margin-left: 10%;
  width: 80%;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  text-align: center;

  color: #FFF;
}

.body-without-overflow {
  overflow: visible;
}

.text-color-green
{
  color: green;
}

.text-color-red {
  color: redd;
}
.topnav {
  height: 15vh;
  max-height: 75px;
  top: 0;
  width: 100%;
  background-color:#1d2731;
  position: fixed;
}

.topnav a {
  font-size: 200%;
  padding: 3% 0.5%;
  font-family: "Baloo Tamma 2", cursive;
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-top: 1ch;
}


.logo {
  float: left;
}

.logo a {
  font-size: 350%;
  font-family: "Cookie", cursive;
  margin-top: -13%;
}

.topnav a:hover {
  color: #A4A4A4;
}

.sub-bar {
  height: 40vh;
  max-height: 800px;
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: #f4f4f4;
}

/* ABOUT PAGE /////////////////////////////////////////////////////////// */

.about-background {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.about-title {
  text-align: center;
  font-size: 350%;
  color: #6E6E6E;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  vertical-align: middle;
  margin-top:2.5%;  
}

.description-background{
  width: 65%;
  height: 350%;
  margin: 0 auto;
  background: #ffffff;
}
.about-description {
  margin-left: 2%;
  text-align: 58%;
  font-size: 200%;
  color: #6E6E6E;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 180%;
  margin-top: 3%;  
}

/* /////////////////////////////////////////////////////////////////////// */


/* PLANS PAGE //////////////////////////////////////////////////////////// */

.bloco{
  width: 100vw;
  height: 100vh;
  display: flex;
}

/* COR DO BACKGROUND DAS SECTIONS */
.basic-plan {
  background-color: #6E6E6E;    
}

.premium-plan {
  background-color: #E54161
}

.exxxtra-plan {
  background-color: blueviolet;
}

/* BOX DAS SECTIONS */
.bloco {
  display: flex;
  flex-direction: row;
}

.basic-description-plan-box {
  height: 50%;
  width: 40%;
  margin-top: 11.5%;
  margin-left: 50%;
  background-color: #E54161;
  border-radius: 25px;
}

.premium-description-plan-box {
  height: 50%;
  width: 40%;
  margin-top: 11.5%;
  margin-left: 50%;
  background-color: #E54161;
  border-radius: 25px;
}

.exxxtra-description-plan-box {
  height: 50%;
  width: 40%;
  margin-top: 11.5%;
  margin-left: 50%;
  background-color: #E54161;
  border-radius: 25px;
}

/* TITULO DOS PLANOS */
.plan-title {
font-size: 30px;
color: #000000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
vertical-align: middle;
margin-top: 80px;
text-align: center;
}

/* DESCRICAO DOS PLANOS*/
.plan-description {
  font-size: 20px;
  color: #000000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  vertical-align: middle;
  margin-top: 40px;
  text-align: center;
}

/* TOPBAR COM OS PLANOS /////////////////////////////////// */
.links{
  margin-top: -90vh;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
}

.links label{
  padding: 10px 0;
  flex-grow: 1;
  cursor: pointer;
  transition: all .4s;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150%;
  color: #ffffff;
}

.links label:hover{
  height: 130%;
  background-color: rgba(255, 255, 255, .2);
}

.scroll input{
  display: none;
}

.scroll{
  display: flex;
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.sections{
  transition: all 0.4s;
}

#rd_premium:checked ~ .sections{
  margin-top: -100vh;
}

#rd_exxxtra:checked ~ .sections{
  margin-top: -200vh;
}
 /* /////////////////////////////////////////////////////////////////////////////////////////////// */

 

/* .myButton {
  background-color: #1d2731;
  border-radius: 25px;
  border: 1% solid #424242;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Cookie", cursive;
  font-size: 35px;
  padding: 16px 31px;
  text-decoration: none;
  margin-top: -2%;
}
.myButton:hover {
  background-color: #363636;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.plan-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
} */

/* .plan-description-basic {
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, cursive;
  vertical-align: middle;
  margin-top: 40px;
  text-align: center;
}

.button-space {
  margin-top: 22%;
  text-align: center;
}

.button-space-premium {
  margin-top: 10%;
  text-align: center;
}

.button-space-exxxtra {
  margin-top: 12%;
  text-align: center;
}

.myButton-plans {
  background-color: #1d2731;
  border-radius: 25px;
  border: 1% solid #424242;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Cookie", cursive;
  font-size: 35px;
  padding: 16px 31px;
  text-decoration: none;
  
}
.myButton-plans:hover {
  background-color: #363636;
}
.myButton-plans:active {
  position: relative;
  top: 1px;
}

.basic-plan {
background-color: #0b3c5d;
  width: 33%;
}

.premium-plan {
  background-color: #d9b310;
  width: 34%;
}

.exxxtra-plan {
  background-color: rgba(79, 97, 81, 0.533);
  width: 33%;
}
.plan-content{
  background-color: #f0f0f0;
}

.basic-plan-despcription {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  
}

.premium-plan-description {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  background-color: rgba(105, 129, 108, 0.533);
}

.exxxtra-plan-descritpion {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  background-color: rgb(44, 19, 32);
} */



@media screen and (min-width:375px) and (max-width: 667px){
  body {
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    display: flex;
  } 

  .topnav {
    height: 15vh;
    max-height: 45px;
    top: 0;
    width: 100%;
    background-color:#1d2731;
    position: fixed;
  }
  
  .topnav a {
    font-size: 100%;
    padding: 3% 0.5%;
    font-family: "Baloo Tamma 2", cursive;
    color: #ffffff;
    text-decoration: none;
    float: right;
    margin-top: 1%;
    
  }

  .logo {
    float: left;
  }
  
  .logo a {
    font-size: 180%;
    font-family: "Cookie", cursive;
    
  }
  
  .topnav a:hover {
    color: #A4A4A4;
  }
  .sub-bar {
    height: 40vh;
    
    width: 100%;
    text-align: center;
    display: inline-block;
    background-color: #f4f4f4;
  }

  .description-text {
    font-size: 150%;
    color: #424242;
    font-family: "Baloo Tamma 2", cursive;
    vertical-align: middle;
    margin-top: 10%;
  }

  .myButton {
    background-color: #1d2731;
    border-radius: 25px;
    border: 1% solid #424242;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: "Cookie", cursive;
    font-size: 20px;
    padding: 10px 25px;
    text-decoration: none;
    margin-top: -2%;
    width: 40%;
    height: 20%;
  }

  .plan-title {
    font-size: 18px;
    color: #000000;
    font-family: "Baloo Tamma 2", cursive;
    vertical-align: middle;
    margin-top: 30px;
    text-align: center;
  }
  
  .plan-description {
    font-size: 18px;
    color: #000000;
    font-family: "Baloo Tamma 2", cursive;
    vertical-align: middle;
    margin-top: 30px;
    text-align: center;
  }

  .button-space {
    margin-top: 47%;
    text-align: center;
    
  }
  
  .button-space-premium {
    margin-top: 17%;
    text-align: center;
  }
  
  .button-space-exxxtra {
    margin-top: 5%;
    text-align: center;
  }

  .myButton-plans {
    background-color: #1d2731;
    border-radius: 25px;
    border: 1% solid #424242;
    display: inline-block;
    color: #ffffff;
    font-family: "Cookie", cursive;
    font-size: 13px;
    padding: 12px 10px;
    width: 50%;
    height: 10vh;
  }

  .text-about {
    margin-top: 40px;
    height: 90px;
    max-height: 300px;
    width: 100%;
    text-align: center;
    background-color: #d9b310;
  }

  .about-title {
    font-size: 250%;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    vertical-align: middle;
    margin-top:5%;  
  }

}


