body{
    background-color: #ebebeb;
}
.container {
    height: 200vh;
    width: 100vh;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 16px #888888;
    background-color: #ffffff;
    background-image: url('../src/assets/img/food-background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;

}
.btn-flat{
    background-color: red;
    color: white;
}
.btn-flat#login{
    width: 100px;
    margin-left: 50px;
    border-radius: 30px;
}

.btn-flat#search{
    background-color: white;
}

.navbar-dark .navbar-nav .nav-link {
    color:white;
    font: normal 13pt Arial;
    margin-left: 50px;
}

.navbar-dark{
    background-color: rgba(0, 0, 0, 0.212);
    border-radius: 10px;
}

.form-control{
    color: #ffffff;
    background-color: #fff0;
}

.form-control .placeHolder{
    color: #ff0000;
}

