body {
  height: 100vh;
}
.root {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 0.5fr);
  grid-template-rows: repeat(10, 1fr);
  width: 0%;
}
.square {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
  width: 48px;
  height: 48px;
  background-color: rgba(71, 105, 255, .75)
}

.main {
display: flex;
}
.content {
  position: relative;
}

/**** SIDEBAR ****/
.sidebar {
  background-color: #f1f1f1;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 300px;
}

.sidebar_content {
  padding: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebar[aria-hidden="true"] {
  transition: 200ms;
  transform: translateX(100%);
}
/* SIDEBAR VISIBLE STATE */
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
  transition: 200ms;
  transform: translateX(0);
}
/****************************/

#score {
  padding: 5px 0px 5px 0px;
  width: 64px;
  text-align: center;
  /* height: 24px; */
  border: 1px black solid;
  border-radius: 8px;
}

.sea {
  background-color: rgba(71, 105, 255, .75)
}

.hit {
  background-color: black;
}

.miss {
  background-color: grey;
}

.sink {
  background-color: red;
}
