<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PreservSign</title>
    <link rel="stylesheet" href="styles.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Cookie&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="topnav">
      <div class="logo">
          <a href="home.html"><strong>PreservSign</strong></a>
      </div>
      <a href="">Login</a>
      <a href="">Contato</a>
      <a href="">Planos</a>
      <a href="about.html">Sobre</a>
      <a href="home.html">Home</a>
    </div>
    <div class="text-about">
      <div class="about-title"><strong>Um pouco sobre a nossa história!</strong></div>
      <div class="about-description">oahdpauhdoaudhoaudhaduhaoduahodauh</div>
    
    </div>
    
    
  </body>
</html>
