body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  display: flex;
}
.body-without-overflow {
  overflow: visible;
}

.topnav {
  height: 15vh;
  max-height: 75px;
  top: 0;
  width: 100%;
  background-color: rgb(86, 102, 122);
  position: fixed;
}

.topnav a {
  font-size: 28px;
  padding: 14px 10px;
  font-family: "Baloo Tamma 2", cursive;
  color: #ffffff;
  text-decoration: none;
  float: right;
  padding-top: 1ch;
}

.logo {
  float: left;
}

.logo a {
  font-size: 60px;
  font-family: "Cookie", cursive;
  margin-top: -10%;
}

.topnav a:hover {
  color: #A4A4A4;
}

.sub-bar {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  text-align: center;
  display: inline-block;
  background-color: rgb(135, 151, 175);
}

.text-about {
  margin-top: 75px;
  height: 120px;
  max-height: 400px;
  width: 100%;
  text-align: center;
  background-color: rgb(135, 151, 175);
}

.about-title {
  font-size: 50px;
  color: #ffffff;
  font-family: "Cookie", cursive;
  vertical-align: middle;
  margin-top: 2%;  
}

.about-description {
  font-size: 35px;
  color: #6E6E6E;
  font-family: "Cookie", cursive;
  vertical-align: middle;
  margin-top: 5%;  
}

.description-text {
  font-size: 30px;
  color: #ffffff;
  font-family: "Baloo Tamma 2", cursive;
  vertical-align: middle;
  margin-top: 5%;

}

.myButton {
  background-color: #424242;
  border-radius: 28px;
  border: 1px solid #424242;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Cookie", cursive;
  font-size: 35px;
  padding: 16px 31px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #848484;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.plan-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.plan-title {
  font-size: 30px;
  color: #ffffff;
  font-family: "Baloo Tamma 2", cursive;
  vertical-align: middle;
  margin-top: 80px;
  text-align: center;
}

.plan-description {
  font-size: 20px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif, cursive;
  vertical-align: middle;
  margin-top: 40px;
  text-align: center;
}

.button-space {
  margin-top: 105px;
  text-align: center;
}

.button-space-premium {
  margin-top: 83px;
  text-align: center;
}

.button-space-exxxtra {
  margin-top: 80px;
  text-align: center;
}

.basic-plan {
background-color: rgb(167, 173, 198);
  width: 33%;
}

.premium-plan {
  background-color: rgb(95, 75, 102);
  width: 34%;
}

.exxxtra-plan {
  background-color: rgb(44, 19, 32);
  width: 33%;
}

.basic-plan-despcription {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  background-color: rgb(167, 173, 198);
}

.premium-plan-description {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  background-color: rgb(95, 75, 102);
}

.exxxtra-plan-descritpion {
  height: 40vh;
  max-height: 400px;
  width: 100%;
  background-color: rgb(44, 19, 32);
}